NET "rw" LOC = "P1";
NET "aec" LOC = "P2";
NET "game" LOC = "P4";
NET "xrom" LOC = "P6";
NET "z8en" LOC = "P7";
NET "z8io" LOC = "P8";
NET "ms3" LOC = "P9";
NET "ms2" LOC = "P10";
NET "ms1" LOC = "P11";
NET "ms0" LOC = "P12";
NET "vma4" LOC = "P13";
NET "clk" LOC = "P15";
NET "vicfix" LOC = "P16";
NET "vma5" LOC = "P17";
NET "ba" LOC = "P18";
NET "lram" LOC = "P19";
NET "hram" LOC = "P20";
NET "chre" LOC = "P22";
NET "va14" LOC = "P23";
NET "r256" LOC = "P24";
NET "roml" LOC = "P27";
NET "romh" LOC = "P31";
NET "clrbnk" LOC = "P32";
NET "rom4" LOC = "P33";
NET "rom3" LOC = "P34";
NET "from" LOC = "P35";
NET "rom2" LOC = "P36";
NET "eyes" LOC = "P38";
NET "knlovr" LOC = "P39";
NET "slowxp" LOC = "P40";
NET "rom1" LOC = "P43";
NET "dwe" LOC = "P46";
NET "iocs" LOC = "P48";
NET "casenb" LOC = "P49";
NET "vic" LOC = "P50";
NET "ioacc" LOC = "P51";
NET "gwe" LOC = "P52";
NET "colram" LOC = "P56";
NET "charom" LOC = "P57";
NET "a15" LOC = "P58";
NET "a14" LOC = "P59";
NET "a13" LOC = "P60";
NET "a12" LOC = "P61";
NET "a11" LOC = "P62";
NET "a10" LOC = "P63";
